<div class="mt-4">
  <div class="action-buttons">
    <%= link_to "< back to league", league_path(@league.uuid), class: "btn btn-sm btn-outline-secondary" %>
    <%= link_to "invite new member", new_membership_league_path(@league.uuid), class: "btn btn-sm btn-outline-secondary" %>
  </div>
  <div class="mt-4">
    <h3>Members</h3>

    <table class="table">
      <thead>
        <tr>
          <th>email</th>
          <th>role</th>
          <th>status</th>
          <th>actions</th>
        </tr>
        <tbody>
          <% @memberships.each do |membership| %>
            <tr>
              <td><%= membership.user_email %></td>
              <td><%= membership.role %></td>
              <td><%= membership.status %></td>
              <td>
                <% unless membership.superadmin? || membership.archived? %>
                  <%= button_to membership_path(membership), method: :delete, class: "btn btn-outline-danger btn-sm" do %>
                    <i class="bi bi-x"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </thead>
    </table>
  </div>
</div>