<main class="form-reset-password text-center mt-4">
<h3 class="h3 mb-3 fw-normal">reset password</h3>
<%= form_with url: reset_password_path do |f| %>
  <%= f.hidden_field :user_token, value: params[:token] %>
  <%= f.hidden_field :redirect_back, value: params[:redirect_back] %>
  <div class="form-floating">
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
    <%= f.label :password, "password", class: "form-label" %>
  </div>
  <div class="mt-3">
  <%= f.submit "reset password", class: "w-100 btn btn-sm btn-outline-primary" %>
  </div>
<% end %>
</main>