<div class="mt-4">
  <h2>dashboard</h2>
  <div>
    <%= link_to "new league", new_league_path, class: "btn btn-sm btn-outline-primary" %>
  </div>
  <hr />
  <h3>your leagues</h3>
  <% if @leagues.any? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">name</th>
          <th scope="col">location</th>
          <th scope="col">league owner</th>
          <th scope="col">membership status</th>
          <th scope="col">role</th>
        </tr>
      </thead>
      <tbody>
        <% @leagues.each do |league| %>
          <tr>
            <td><%= link_to league.name, league_path(league.uuid) %></td>
            <td><%= league.location %></td>
            <td><%= league.owner_name %></td>
            <td class="d-flex align-items-baseline gap-2">
              <%= league.membership_status %>
              <% if league.membership_status == "pending" %>
                <%= button_to accept_membership_path(league.m_id), method: :put, class: "btn btn-outline-primary btn-sm" do %>
                  <i class="bi bi-check"></i>
                <% end %>
                <%= button_to reject_membership_path(league.m_id), method: :put, class: "btn btn-outline-danger btn-sm" do %>
                  <i class="bi bi-x"></i>
                <% end %>
              <% end %>
            </td>
            <td><%= league.membership_role %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>you have no leagues, please create one or ask someone to invite you</p>
  <% end %>
</div>