<div class="mt-4">
  <h2>dashboard</h2>
  <div>
    <%= link_to "new league", new_league_path, class: "btn btn-sm btn-outline-primary" %>
  </div>
  <hr />
  <h3>your leagues</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">location</th>
        <th scope="col">league owner</th>
        <th scope="col">role</th>
      </tr>
    </thead>
    <tbody>
      <% @leagues.each do |league| %>
        <tr>
          <td><%= link_to league.name, league_path(league.uuid) %></td>
          <td><%= league.location %></td>
          <td><%= league.owner_name %></td>
          <td><%= current_user.role_in_league(league) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>